<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.mapper.UserMapper">
    <select id="selectByNameAndPwd" parameterType="com.example.entity.User" resultType="com.example.entity.User">
        select * from user where username=#{username} and password=#{password} and valid=1
    </select>
    <select id="selectAllUser" resultType="com.example.entity.User">
        select * from user where valid=1
    </select>
    <insert id="addUser" parameterType="com.example.entity.User">
        insert into user (id,username,password,fullname,sex,department,valid) values (null,#{username},#{password},#{fullname},#{sex},#{department},#{valid})
    </insert>
    <update id="update" parameterType="com.example.entity.User">
        update user set username=#{username},password=#{password},fullname=#{fullname},sex=#{sex},department=#{department} where id=#{id}
    </update>
    <update id="deleteUser" parameterType="Integer">
        update user set valid=0 where id=#{id}
    </update>
    <select id="selectById" parameterType="Integer" resultType="com.example.entity.User">
        select * from user where id=#{id} and valid=1
    </select>
</mapper>